doctype html
html(lang="pt-br")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= (typeof title !== "undefined")? title : "nada"
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      ul
        a(href="/") 
          li Home
        if cookies > 2
          a(href="./logout") 
            li Logout
          a(href="./projects")
            li Projects
        else
          a(href="./login")
            li Login 
          a(href="./register")
            li Register

    main
      block content